@media only screen and (max-width: 480px) 
{
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  z-index:1;
}
.body {
  width: 100%;
  height: 844px;
  background-color: #D7EFEB;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin:0px;
  position:relative;
  z-index: -1;
}
.KytkaVlevoNahore {
  width: 142px;
  height: 132px;
  background: url("../images/v55_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.30000001192092896;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: -1;
  overflow:hidden;
  float:left;
}
.Úvod {
  width: 60%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 104px;
  left: 20%;
  font-family: Cormorant;
  font-weight: Regular;
  font-size: 15pt;
  opacity: 1;
  text-align: center;
  z-index: -1;
}
.KytkaVpravoDole {
  width: 172px;
  height: 125px;
  background: url("../images/v55_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 850px;
  left: 60%;
  z-index: -1;
}
.Nadpis{
  position:absolute;
  left:20%;
  top:54px;
  font-size:16pt;
  font-style: bolder;
  text-decoration-line: underline;
  z-index: -1;
  width:60%;
  text-align: center;
}

.box{
  top:210px;
  left:10%;
  position:absolute;
  z-index: -1;
  width:80%;
}
.telefon {
  width: 100%;
  height: 46px;
  background: url("../images/v107_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  margin-top:25px;
  z-index: -1;
}
.telefon_pismo {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Cormorant;
  font-weight: Regular;
  font-size: 12pt;
  opacity: 1;
  text-align: left;
  z-index: -1;
}

.intolerance {
  width: 100%;
  height: 46px;
  background: url("../images/v107_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  margin-top:25px;
  z-index: -1;
}
.intolerance_text {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Cormorant;
  font-weight: Regular;
  font-size: 12pt;
  opacity: 1;
  text-align: left;
  z-index: -1;
  
}
.vegetarian {
  width: 100%;
  height: 46px;
  background: url("../images/v107_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  margin-top:25px;
  z-index: -1;
}

.vegetarian_text {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Cormorant;
  font-weight: Regular;
  font-size: 12pt;
  opacity: 1;
  text-align: left;
  z-index: -1;
}

.tip {
  width: 100%;
  height: 46px;
  background: url("../images/v107_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  margin-top:25px;
  z-index: -1;
}
.tip_text {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Cormorant;
  font-weight: Regular;
  font-size: 12pt;
  opacity: 1;
  text-align: left;
  z-index: -1;
}

.alkohol {
  width: 100%;
  height: 46px;
  background: url("../images/v107_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  margin-top:25px;
  z-index: -1;
}
.alkohol_text {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Cormorant;
  font-weight: Regular;
  font-size: 12pt;
  opacity: 1;
  text-align: left;
  z-index: -1;
}

.prespani {
  width: 100%;
  height: 46px;
  background: url("../images/v107_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  margin-top:25px;
  z-index: -1;
}
.prespani_text {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Cormorant;
  font-weight: Regular;
  font-size: 12pt;
  opacity: 1;
  text-align: left;
  z-index: -1;
}

.email {
  width: 100%;
  height: 46px;
  background: url("../images/v107_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  margin-top:25px;
  z-index: -1;
}
.email_text {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Cormorant;
  font-weight: Regular;
  font-size: 12pt;
  opacity: 1;
  text-align: left;
  z-index: -1;
}

.jmeno {
  width: 100%;
  height: 46px;
  background: url("../images/v107_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  margin-top:25px;
  z-index: -1;
}
.jmeno_text {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 12pt;
  font-family: Cormorant;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
  z-index: -1;
}
.button{
  width:40%;
  height:40px;
  background-color: #A5DADA;
  font-size:14pt;
  color:black;
  position:absolute;
  top:800px;
  left:30%;
  border-radius: 30px;
  outline:none;
  border:none;
  text-align: center;
  font-family: Cormorant;
  font-weight: bold;
  z-index: -1;
}

.input_text {
  width: 100%;
  margin-top:5px;
  height: 20px;
  display: grid;
  place-items: center;
  position: relative;
  z-index: -1;
}

.input_text input {
  all: unset;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid grey;
  padding-left: 3px;
  font-size: 14pt;
  color: #333;
  font-family: sans-serif;
  position: relative;
  z-index: -1;
}
input:focus {
  border-bottom: 1px solid royalblue;
  z-index: -1;
}

input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]::placeholder {
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

.input_text::before {
  position: absolute;
  color: #333;
  font-weight: bold;
  font-size: 14pt;
  z-index: -1;
}
.input_text_jmeno {
  width: 40%;
  margin-top:5px;
  height: 20px;
  display: grid;
  place-items: center;
  position: relative;
  float:left;
  z-index: -1;

}
.input_text_jmeno input {
  all: unset;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid grey;
  padding-left: 3px;
  font-size: 14pt;
  color: #333;
  font-family: sans-serif;
  position: relative;
  z-index: -1;
}

input:focus {
  border-bottom: 1px solid royalblue;
  z-index: -1;
}

input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]::placeholder {
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

.input_text_jmeno::before {
  position: absolute;
  color: #333;
  font-weight: bold;
  font-size: 14pt;
  z-index: -1;
}

.input_text_prijmeni {
  width: 50%;
  margin-top:5px;
  height: 20px;
  display: grid;
  place-items: center;
  position: relative;
  float:right;
  z-index: -1;
}

.input_text_prijmeni input {
  all: unset;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid grey;
  padding-left: 3px;
  font-size: 14pt;
  color: #333;
  font-family: sans-serif;
  position: relative;
  z-index: -1;
}

input:focus {
  border-bottom: 1px solid royalblue;
  z-index: -1;
}

input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

input[type="text"]::placeholder {
  font-size: 14pt;
  color: rgb(210, 210, 210);
  font-family: sans-serif;
  z-index: -1;
}

.input_text_prijmeni::before {
  position: absolute;
  color: #333;
  font-weight: bold;
  font-size: 14pt;
  z-index: -1;
}
}
@media only screen and (min-width: 480px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    z-index:1;
  }
  .body {
    width: 100%;
    height: 844px;
    background-color: #D7EFEB;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin:0px;
    position:relative;
    z-index: -1;
  }
  
  .KytkaVlevoNahore {
    width: 142px;
    height: 132px;
    background: url("../images/v55_156.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.30000001192092896;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: -1;
    overflow:hidden;
    float:left;
  }
  .Nadpis{
    display:none;
  }
  .Úvod {
    width: 25%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 104px;
    left: 37.5%;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 14pt;
    opacity: 1;
    text-align: center;
    z-index: -1;
  }
  .KytkaVpravoDole {
    width: 172px;
    height: 125px;
    background: url("../images/v55_153.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.4000000059604645;
    position: absolute;
    top: 870px;
    left: 80%;
    z-index: -1;
  }
  .box{
    top:210px;
    left:20%;
    width:60%;
    position:absolute;
    z-index: -1;
  }
  .jmeno {
    width: 100%;
    height: 46px;
    background: url("../images/v107_24.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-top:18px;
    z-index: -1;
  }
  .jmeno_text {
    width: 332px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 15pt;
    font-family: Cormorant;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
    z-index: -1;
  }
  .input_text_jmeno {
    width: 35%;
    margin-top:5px;
    height: 20px;
    display: grid;
    place-items: center;
    position: relative;
    float:left;
    z-index: -1;
  
  }
  .input_text_jmeno input {
    all: unset;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid grey;
    padding-left: 3px;
    font-size: 14pt;
    color: #333;
    font-family: sans-serif;
    position: relative;
    z-index: -1;
  }
  
  input:focus {
    border-bottom: 1px solid royalblue;
    z-index: -1;
  }
  
  input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]::placeholder {
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  .input_text_jmeno::before {
    position: absolute;
    color: #333;
    font-weight: bold;
    font-size: 14pt;
    z-index: -1;
  }

  .input_text_prijmeni {
    width: 50%;
    margin-top:5px;
    height: 20px;
    left:-4%;
    display: grid;
    place-items: center;
    position: relative;
    float:right;
    z-index: -1;
  }
  
  .input_text_prijmeni input {
    all: unset;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid grey;
    padding-left: 3px;
    font-size: 14pt;
    color: #333;
    font-family: sans-serif;
    position: relative;
    z-index: -1;
  }
  
  input:focus {
    border-bottom: 1px solid royalblue;
    z-index: -1;
  }
  
  input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]::placeholder {
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  .input_text_prijmeni::before {
    position: absolute;
    color: #333;
    font-weight: bold;
    font-size: 14pt;
    z-index: -1;
  }
  .email {
    width: 96%;
    height: 46px;
    background: url("../images/v107_25.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-top:30px;
    z-index: -1;
  }
  .email_text {
    width: 56px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 15pt;
    opacity: 1;
    text-align: left;
    z-index: -1;
  }

  .telefon {
    width: 96%;
    height: 46px;
    background: url("../images/v107_26.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-top:30px;
    z-index: -1;
  }
  .telefon_pismo {
    width: 100%;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 15pt;
    opacity: 1;
    text-align: left;
    z-index: -1;
  }
  
  .intolerance {
    width: 96%;
    height: 46px;
    background: url("../images/v107_27.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-top:30px;
    z-index: -1;
  }
  .intolerance_text {
    width: 100%;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 15pt;
    opacity: 1;
    text-align: left;
    z-index: -1;
    
  }
  .vegetarian {
    width: 96%;
    height: 46px;
    background: url("../images/v107_27.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-top:30px;
    z-index: -1;
  }
  
  .vegetarian_text {
    width: 332px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 15pt;
    opacity: 1;
    text-align: left;
    z-index: -1;
  }
  
  .tip {
    width: 96%;
    height: 46px;
    background: url("../images/v107_31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-top:30px;
    z-index: -1;
  }
  .tip_text {
    width: 332px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 15pt;
    opacity: 1;
    text-align: left;
    z-index: -1;
  }
  
  .alkohol {
    width: 96%;
    height: 46px;
    background: url("../images/v107_29.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-top:30px;
    z-index: -1;
  }
  .alkohol_text {
    width: 332px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 15pt;
    opacity: 1;
    text-align: left;
    z-index: -1;
  }
  
  .prespani {
    width: 96%;
    height: 46px;
    background: url("../images/v107_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-top:30px;
    z-index: -1;
  }
  .prespani_text {
    width: 332px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 15pt;
    opacity: 1;
    text-align: left;
    z-index: -1;
  }
   .button{
    width:15%;
    height:40px;
    background-color: #A5DADA;
    font-size:14pt;
    color:black;
    position:absolute;
    top:850px;
    left:42.5%;
    border-radius: 30px;
    outline:none;
    border:none;
    text-align: center;
    font-family: Cormorant;
    font-weight: bold;
    z-index: -1;
  }
  
  .input_text {
    width: 100%;
    margin-top:5px;
    height: 20px;
    display: grid;
    place-items: center;
    position: relative;
    z-index: -1;
  }
  
  .input_text input {
    all: unset;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid grey;
    padding-left: 3px;
    font-size: 14pt;
    color: #333;
    font-family: sans-serif;
    position: relative;
    z-index: -1;
  }
  
  input:focus {
    border-bottom: 1px solid royalblue;
    z-index: -1;
  }
  
  input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  input[type="text"]::placeholder {
    font-size: 14pt;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    z-index: -1;
  }
  
  .input_text::before {
    position: absolute;
    color: #333;
    font-weight: bold;
    font-size: 14pt;
    z-index: -1;
  }
  }
