.NadpisLista {
    width: 339px;
    height: 25px;
    background: rgba(217, 217, 217, 0.185);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .NadpisPismo1 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Crimson Text;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: center;
    margin-top:4px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.01pt;
  }
  
  .NadpisPismo2 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 69px;
    font-family: Crimson Text;
    font-weight: Bolder;
    font-size: 13px;
    opacity: 1;
    text-align: center;
    text-shadow: 1pt;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.01pt;
    margin-top:4px;
  }
  .NadpisPismo3 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 138px;
    font-family: Crimson Text;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: center;
    margin-top:4px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.01pt;
  }
  .NadpisPismo4 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 207px;
    font-family: Crimson Text;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: center;
    margin-top:4px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.01pt;
  }
  .NadpisPismo5 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: absolute;
    margin-top:4px;
    top: 0px;
    left: 273px;
    font-family: Crimson Text;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: center;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.01pt;
  }