@media only screen and (max-width: 480px) 
{
* {
  box-sizing: border-box;
}
body {
  font-size: 14pt;
  z-index:1;
  font-family: Cormorant;
}
.body {
  width: 100%;
  height: 2700px;
  background-color: #E5DACA;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin:0px;
  position:relative;
  z-index: -1;
}
.ObrazekPrstynky{
  width: 25%;
  height: 3.5%;
  background: url("../images/v150_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 37.5%;
  overflow: hidden;
  z-index: -1;
}
.ObrazekHappyTogether{
  width: 34%;
  height: 15%;
  background: url("../images/HappyTogether.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 2500px;
  left: 38%;
  overflow: hidden;
  z-index: -1;
}
.PopisStranky {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 5%;
  font-family: Cormorant;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
  z-index: -1;
}
.KdyKdeNadpis{
  width: 70%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 220px;
  left: 15%;
  opacity: 1;
  text-align: center;
  font-weight: bold;
  z-index: -1;
}
.KdyKde {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 250px;
  left: 5%;
  opacity: 1;
  text-align: left;
  z-index: -1;
}
.Cara1 {
  width: 94%;
  height: 0px;
  background: url("../images/v112_55.png");
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 3%;
  border: 0.02pt solid rgba(0,0,0);
  z-index:-1;
}
.SpaniNadpis{
  width: 70%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 490px;
  left: 15%;
  opacity: 1;
  text-align: center;
  font-weight: bold;
  z-index: -1;
}
.Spani {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 530px;
  left: 5%;
  opacity: 1;
  text-align: left;
  z-index: -1;
}
.Cara2 {
  width: 94%;
  height: 0px;
  background: url("../images/v112_55.png");
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 3%;
  border: 0.02pt solid rgba(0,0,0);
  z-index:-1;
}
.JidloPitiNadpis{
  width: 70%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 760px;
  left: 15%;
  opacity: 1;
  text-align: center;
  font-weight: bold;
  z-index: -1;
}
.JidloPiti {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 790px;
  left: 5%;
  opacity: 1;
  text-align: left;
  z-index: -1;
}
.Cara3 {
  width: 94%;
  height: 0px;
  background: url("../images/v112_55.png");
  opacity: 1;
  position: absolute;
  top: 960px;
  left: 3%;
  border: 0.02pt solid rgba(0,0,0);
  z-index:-1;
}
.ParbaNadpis{
  width: 70%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 970px;
  left: 15%;
  opacity: 1;
  text-align: center;
  font-weight: bold;
  z-index: -1;
}
.Parba {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1030px;
  left: 5%;
  opacity: 1;
  text-align: left;
  z-index: -1;
}
.Cara4 {
  width: 94%;
  height: 0px;
  background: url("../images/v112_55.png");
  opacity: 1;
  position: absolute;
  top: 1350px;
  left: 3%;
  border: 0.02pt solid rgba(0,0,0);
  z-index:-1;
}
.DresscodeNadpis{
  width: 70%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1360px;
  left: 15%;
  opacity: 1;
  text-align: center;
  font-weight: Bold;
  z-index: -1;
}
.Dresscode {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1390px;
  left: 5%;
  opacity: 1;
  text-align: left;
  z-index: -1;
}
.ObrazekDort {
  width: 20%;
  height: 14%;
  background: url("../images/v162_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 620px;
  left: 75%;
  overflow: hidden;
  z-index: -1;
}
.ObrazekParty {
  width: 16%;
  height: 10%;
  background: url("../images/PartyImage.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 918px;
  left: 75%;
  overflow: hidden;
  z-index: -1;
}
.image31 {
  width: 40%;
  height: 15%;
  background: url("../images/image_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 1700px;
  left: 10%;
  overflow: hidden;
}
.image32 {
  width: 40%;
  height: 15%;
  background: url("../images/image_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 1700px;
  left: 55%;
  overflow: hidden;
}
.image35 {
  width: 20%;
  height: 5%;
  background: url("../images/image_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 2100px;
  left: 10%;
  overflow: hidden;
}
.image36 {
  width: 20%;
  height: 5%;
  background: url("../images/image_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 2100px;
  left: 40%;
  overflow: hidden;
}
.image37 {
  width: 20%;
  height: 5%;
  background: url("../images/image_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 2100px;
  left: 70%;
  overflow: hidden;
}
.Cara5 {
  width: 94%;
  height: 0px;
  background: url("../images/v112_55.png");
  opacity: 1;
  position: absolute;
  top: 2300px;
  left: 3%;
  border: 0.02pt solid rgba(0,0,0);
  z-index:-1;
}
.DaryNadpis{
  width: 70%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2310px;
  left: 15%;
  opacity: 1;
  text-align: center;
  font-weight: Bold;
}
.Dary {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2340px;
  left: 5%;
  opacity: 1;
  text-align: left;
}
.Cara6 {
  width: 94%;
  height: 0px;
  background: url("../images/v112_55.png");
  opacity: 1;
  position: absolute;
  top: 2500px;
  left: 3%;
  border: 0.02pt solid rgba(0,0,0);
  z-index:-1;
}
.ZaverNadpis{
  width: 70%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2510px;
  left: 15%;
  opacity: 1;
  text-align: center;
  font-weight: Bold;
}
.Zaver {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2540px;
  left: 5%;
  opacity: 1;
  text-align: left;
}

}
@media only screen and (min-width: 481px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14pt;
    z-index:1;
    font-family: Cormorant;
  }
  .body {
    width: 100%;
    height: 2600px;
    background-color: #E5DACA;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin:0px;
    position:relative;
    z-index: -1;
  }
  .ObrazekPrstynky{
    width: 10%;
    height: 5%;
    background: url("../images/v150_59.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 45%;
    overflow: hidden;
  }
  .ObrazekHappyTogether{
    width: 24%;
    height: 10%;
    background: url("../images/HappyTogether.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 2260px;
    left: 38%;
    overflow: hidden;
  }
  .PopisStranky {
    width: 60%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 150px;
    left: 20%;
    font-family: Cormorant;
    font-weight: Regular;
    opacity: 1;
    text-align: center;
  }
  .KdyKdeNadpis{
    width: 40%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 200px;
    left: 30%;
    opacity: 1;
    text-align: center;
    font-weight: bold;
  }
  .KdyKde {
    width: 50%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 230px;
    left: 20%;
    opacity: 1;
    text-align: left;
  }
  .Cara1 {
    width: 60%;
    height: 0px;
    background: url("../images/v112_55.png");
    opacity: 1;
    position: absolute;
    top: 390px;
    left: 20%;
    border: 0.02pt solid rgba(0,0,0);
    z-index:-1;
  }
  .SpaniNadpis{
    width: 40%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 400px;
    left: 30%;
    opacity: 1;
    text-align: center;
    font-weight: bold;
  }
  .Spani {
    width: 50%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 430px;
    left: 20%;
    opacity: 1;
    text-align: left;
  }
  .Cara2 {
    width: 60%;
    height: 0px;
    background: url("../images/v112_55.png");
    opacity: 1;
    position: absolute;
    top: 600px;
    left: 20%;
    border: 0.02pt solid rgba(0,0,0);
    z-index:-1;
  }
  .JidloPitiNadpis{
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 610px;
    left: 40%;
    opacity: 1;
    text-align: center;
    font-weight: bold;
  }
  .JidloPiti {
    width: 50%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 640px;
    left: 20%;
    opacity: 1;
    text-align: left;
  }
  .Cara3 {
    width: 60%;
    height: 0px;
    background: url("../images/v112_55.png");
    opacity: 1;
    position: absolute;
    top: 810px;
    left: 20%;
    border: 0.02pt solid rgba(0,0,0);
    z-index:-1;
  }
  .ParbaNadpis{
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 820px;
    left: 40%;
    opacity: 1;
    text-align: center;
    font-weight: bold;
  }
  .Parba {
    width: 50%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 850px;
    left: 20%;
    opacity: 1;
    text-align: left;
  }
  .Cara4 {
    width: 60%;
    height: 0px;
    background: url("../images/v112_55.png");
    opacity: 1;
    position: absolute;
    top: 1040px;
    left: 20%;
    border: 0.02pt solid rgba(0,0,0);
    z-index:-1;
  }
  .DresscodeNadpis{
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1050px;
    left: 40%;
    opacity: 1;
    text-align: center;
    font-weight: Bold;
  }
  .Dresscode {
    width: 50%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1080px;
    left: 20%;
    opacity: 1;
    text-align: left;
  }
  .ObrazekDort {
    width: 12%;
    height: 14%;
    background: url("../images/v162_57.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 520px;
    left: 73%;
    overflow: hidden;
  }
  .ObrazekParty {
    width: 8%;
    height: 10%;
    background: url("../images/PartyImage.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 770px;
    left: 75%;
    overflow: hidden;
  }
  .image31 {
    width: 13%;
    height: 20%;
    background: url("../images/image_31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 1230px;
    left: 20%;
    overflow: hidden;
  }
  .image32 {
    width: 13%;
    height: 20%;
    background: url("../images/image_32.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 1250px;
    left: 42%;
    overflow: hidden;
  }
  .image35 {
    width: 8%;
    height: 10%;
    background: url("../images/image_35.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 1220px;
    left: 65%;
    overflow: hidden;
  }
  .image36 {
    width: 8%;
    height: 10%;
    background: url("../images/image_36.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 1350px;
    left: 65%;
    overflow: hidden;
  }
  .image37 {
    width: 8%;
    height: 10%;
    background: url("../images/image_37.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 1490px;
    left: 65%;
    overflow: hidden;
  }
  .Cara5 {
    width: 60%;
    height: 0px;
    background: url("../images/v112_55.png");
    opacity: 1;
    position: absolute;
    top: 1800px;
    left: 20%;
    border: 0.02pt solid rgba(0,0,0);
    z-index:-1;
  }
  .DaryNadpis{
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1810px;
    left: 40%;
    opacity: 1;
    text-align: center;
    font-weight: Bold;
  }
  .Dary {
    width: 50%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1840px;
    left: 20%;
    opacity: 1;
    text-align: left;
  }
  .Cara6 {
    width: 60%;
    height: 0px;
    background: url("../images/v112_55.png");
    opacity: 1;
    position: absolute;
    top: 2040px;
    left: 20%;
    border: 0.02pt solid rgba(0,0,0);
    z-index:-1;
  }
  .ZaverNadpis{
    width: 20%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2050px;
    left: 40%;
    opacity: 1;
    text-align: center;
    font-weight: Bold;
  }
  .Zaver {
    width: 50%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2080px;
    left: 20%;
    opacity: 1;
    text-align: left;
  }

}
